name: Run tests
on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 21]
        mongodb-version: [6.0, 7.0]
        mongodb-client: [4, 5, 6]
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.6.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-agenda-${{ hashFiles('**/package-lock.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-agenda-

      - name: Install Packages
        run: npm ci

      - name: Run Lint
        run: npm run lint

      - name: Build
        run: npm run build
        env:
          CI: true

      - name: Install peer depedencies
        run: npm i mongodb@${{ matrix.mongodb-client }}

      - name: Test
        run: npm test
        env:
          CI: true
